//
   Created by Bartek on 2015-05-20.

extends ../layout

block content
    div(class="col-lg-8")
        form(class="form-horizontal", action="/conference_add", method="post")
             fieldset
                h1 Dodaj konferencje
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Nazwa konferencji
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="nazwa", id="inputNazwa", placeholder="Nazwa")
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Godzina
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="czas", id="inputNazwa", placeholder="HH:MM:SS")        
                div(class="form-group")    
                    label(for="inputDate", class="col-lg-2 control-label") Data rozpoczecia
                    div(class="col-lg-10")
                        input(type="date", class="form-control", name="datroz", id="inputDataRoz", placeholder="yyyy-mm-dd")
                div(class="form-group")   
                    label(for="inputDate", class="col-lg-2 control-label") Data zakonczenia
                    div(class="col-lg-10")
                        input(type="date", class="form-control", name="datzak", id="inputDataZak", placeholder="yyyy-mm-dd")
                 div(class="form-group")    
                    label(for="inputAdres", class="col-lg-2 control-label") Adres
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="adres", id="inputAdres", placeholder="Adres")        
                div(class="form-group")
                    label(class="col-lg-2 control-label") Aktywna
                    div(class="col-lg-10")
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="1", checked="")
                                    | Tak
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="2", checked="")
                                    | Nie
                div(class="form-group")
                  label(class="col-lg-2 control-label") Sesja
                  div(class="col-lg-10")
                     select(class="form-control", id="ses", name="sesja")
                        each val in session
                           option(value= val.id_sesja)= val.nazwa           
                div(class="form-group")    
                    label(for="inputName" class="col-lg-2 control-label") Koszty
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="koszty", id="costs", placeholder="Koszty")
                div(class="form-group")
                        div(class="col-lg-2 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-2 col-lg-offset-0")
                                    button(type="submit",name="rejestruj", class="btn btn-primary") Wyslij