extends ../layout

block content
    div(class="col-lg-8")
        form(class="form-horizontal", action="/conference/registration_selected/" + selected_conference.id_konferencja, method="post")
             fieldset
                div(class="form-group")
                    label(class="col-lg-2 control-label") Przydzielenie hotelu
                    div(class="col-lg-10")
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="1", checked="")
                                    | Tak
                            div(class="radio")
                                label
                                    input(type="radio", name="optionAktywna", value="0", checked="")
                                    | Nie
                div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-1")
                                    button(type="reset",name="czysc", class="btn btn-default") Anuluj
                                div(class="col-lg-1 col-lg-offset-1")
                                    button(type="submit",name="rejestruj", class="btn btn-primary") Dołącz                    