extends ../layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/session_add", method="post")
            fieldset
                h1= "Dodaj sesje"
                div(class="form-group")
                    label(for="inputName", class="col-lg-2 control-label") Nazwa sesji
                    div(class="col-lg-10")
                        input(type="text", class="form-control", name="nazwa", id="inputNazwa", placeholder="Nazwa")
                div(class="form-group")
                        div(class="col-lg-2 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-2 col-lg-offset-0")
                                    button(type="submit",name="rejestruj", class="btn btn-primary") Wyslij