extends layout

block content
  h1 Aktywne Konferencje
  table(class="table")
            thead
                tr 
                    th Nazwa konferencji
                    th adres
            tbody
                each temp in conference
                    tr
                        td=temp.nazwa
                        td=temp.adres