extends layout
block content
    div(class="row")
        div(class="col-lg-10")
        if wynik!=0
            h3= "Lista dodanych referatów"
            table(class="table table-bordered")
                thead
                    tr
                                th Nazwa referatu
                                th Podgląd
                            each val in paper
                                
                                tr
                                    td= val.nazwa
                                    td: a(href="/paper/" + val.id_referat) Wyświetl
        else 
            h3="Brak referatów w bazie"  