// review_correct

//
     Created by kamil on 2015-05-21.
extends layout

block content
    div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/paper", method="post", enctype="multipart/form-data")
            fieldset
            h3 Popraw recenzje
                h3 Wybierz recenzje do poprawy
                div(class="form-group")
                     label(for="referat", class="col-lg-2 control-label") Recenzja do poprawy
                     div(class="col-lg-10")
                         select(class="form-control", id="select", placeholder="Default input")
                            each val in ['Rec1', 'Rec2', 'Rec3']
                               option= val
                div(class="form-group")
                  label(for="file", class="col-lg-2 control-label") Plik tekstowy z nową recenzją
                  div(class="col-lg-10")
                     input(id="file", type="file", class="form-control", name="plik")
                div(class="form-group")
                  label(for="referat", class="col-lg-2 control-label") Referat 
                  div(class="col-lg-10")
                     select(class="form-control", id="select", placeholder="Default input")
                        each val in ['Referat1', 'Referat2', 'Referat3']
                           option= val
                    h3 Oceń referat
                div(class="form-group")
                  label(for="rating", class="col-lg-2 control-label") Zgodnosc z tematem
                  div(class="col-lg-10")
                     select(class="form-control", id="select", placeholder="Default input")
                        each val in ['Niedostateczna', 'Dostateczna', 'Dobra', 'Bardzo dobra']
                           option= val
                div(class="form-group")
                    label(for="rating", class="col-lg-2 control-label") Oryginalnosc
                    div(class="col-lg-10")
                         select(class="form-control", id="select", placeholder="Default input")
                          each val in ['Niedostateczna', 'Dostateczna', 'Dobra', 'Bardzo dobra']
                           option= val
                div(class="form-group")
                    label(for="rating", class="col-lg-2 control-label") Jakosc
                    div(class="col-lg-10")
                         select(class="form-control", id="select", placeholder="Default input")
                          each val in ['Niedostateczna', 'Dostateczna', 'Dobra', 'Bardzo dobra']
                           option= val
                div(class="form-group")
                    label(for="rating", class="col-lg-2 control-label") Poprawnosc
                    div(class="col-lg-10")
                         select(class="form-control", id="select", placeholder="Default input")
                          each val in ['Niedostateczna', 'Dostateczna', 'Dobra', 'Bardzo dobra']
                           option= val
                div(class="form-group")
                        label(for="inputPrawa", class="col-lg-2 control-label") Dodatkowe opcje
                        div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="zatwierdz")
                                    | Zatwierdz
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="wyroznij")
                                    | Wyroznij
                            div(class="checkbox")           
                div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Dodaj
