//
   Created by user on 2015-05-22.
extends ../layout
block content
    a(href='/report_accommodation/dld', class="btn btn-primary") Generuj do pliku .pdf
    h1= "Raport o zakwaterowaniu"
    div(class="row")
            div(class="col-lg-10")
               h5
                table(class= "table table-bordered")
                    thead
                        tr
                            th Imię 
                            th Nazwisko
                            th Nazwa hotelu
                            th Adres hotelu
                            th Opłata
                        each tmp1 in zakwaterowanie
                            tr
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                td= tmp1.nazwah
                                td= tmp1.adres
                                td= tmp1.oplaty
                                