//
   Created by ania on 2015-05-22.
extends ../layout
block content 
    a(href="/report_user/dld", class="btn btn-primary") Generuj do pliku .pdf
    h1= "Raport o użytkownikach"
    div(class="row")
            div(class="col-lg-10")
                h4= "Uczestnicy"
                table(class= "table table-bordered")
                    thead
                        tr
                                th Imię 
                                th Nazwisko 
                                th E-mail
                                th Adres
                                th Firma
                            each tmp1 in uczestnicy
                                tr
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.email
                                    td= tmp1.adres
                                    td= tmp1.firma
        div(class="row")
            div(class="col-lg-10")                          
                h4= "Administratorzy"
                table(class= "table table-bordered")
                    thead
                        tr
                                th Imię 
                                th Nazwisko 
                                th E-mail
                                th Adres
                                th Firma
                            each tmp2 in administratorzy
                                tr
                                    td= tmp2.imie
                                    td= tmp2.nazwisko
                                    td= tmp2.email   
                                    td= tmp2.adres
                                    td= tmp2.firma
        div(class="row")
            div(class="col-lg-10")
                h4= "Recenzenci"
                table(class= "table table-bordered")
                    thead
                        tr
                                th Imię 
                                th Nazwisko 
                                th E-mail
                                th Adres
                                th Firma
                            each tmp3 in recenzenci
                                tr
                                    td= tmp3.imie
                                    td= tmp3.nazwisko
                                    td= tmp3.email
                                    td= tmp3.adres
                                    td= tmp3.firma
