//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body 
    h1= "Raport o wystawionych recenzjach"
        div(class="row")
            div(class="col-lg-10")
               h5
                table(class= "table table-bordered")
                    thead
                        
                            th Nazwa konferencji
                            th Tytuł recenzji
                            th Imię recenzenta
                            th Nazwisko recenzenta 
                            th Tytuł artykułu
                        each tmp1 in recenzje
                            tr
                                td= tmp1.nazwak
                                td= tmp1.nazwar
                                td= tmp1.imie
                                td= tmp1.nazwisko
                                th= tmp1.nzwarf
