//
   Created by jacek on 13.05.15.

extends ../layout

block content
    div(class="row")
        div(class="col-lg-10")
            table(class="table table-bordered")
                thead
                    tr
                        tr
                            td= "Temat: "+paper.nazwa
                            
                        tr
                            td= paper.tresc