extends ../layout
block content
    center
        br
        h1 Edycja hotelu
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa 
                    th adres
                    th email
                    th edycja
            tbody
                each temp in hotel
                    tr
                        td=temp.id_hotel
                        td=temp.nazwa
                        td=temp.adres
                        td=temp.email
                        td: a(href="/edit_hotel/" + temp.id_hotel) Edytuj
 