extends ../layout
block content
    h1 Czy chcesz usunąć opłatę?
    div(class="row")
         div(class="col-lg-8")
            form(class="form-horizontal", action="/charges/delete_cost/"+charge.id_oplaty, method="post")
                div(class="form-group")    
                    div(class="col-lg-10 col-lg-offset-2")
                        button(type="submit",name="zatwierdz" class="btn btn-primary") Zatwierdź