doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body
    br
    h1 Wpłata
    br
    h3="Nazwa konferencji: "+conference_name.nazwa
    h3="Imię: "+conference_users.imie
    h3="Nazwisko: "+conference_users.nazwisko
    div(class="row")
            div(class="col-lg-10")
                table(class= "table table-bordered")
                    thead
                        tr
                            th Nazwa
                            th Koszt 
                        each temp in conference
                            tr
                                td=temp.nazwa
                                td=temp.kwota
    br
    h3="Koszt ogólny: "+show_conferences.kwota                    